
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.about-title{
    position: relative;
}

.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.about-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* .about-sections{
    display: flex;
    
} */

/* .about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
} */

.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}

.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}

.about-skill p{
    min-width: 150px;
    font-size: 24px;
    font-weight: 500 ;
}

.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg , #DF8908 -5.09%,#B415FF 100%);
    

}

.about-left img{
    height:350px;
    border-radius: 10px;
    animation:floatImage 4s ease-in-out infinite;


}

@keyframes floatImage {

    0%{
     transform: translateY(0);

    }
    50%{
        transform: translateX(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
    
}

.about-para a{
    background: linear-gradient(270deg , #1d9c7e 10%,#928287 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* About.css */
.about-sections {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    overflow-x: hidden;
  }
  
  .about-right {
    /* Additional styling */
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* background-color: #f9f9f9; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: scrollAnimation 1s ease-in-out forwards;
  }
  
  @keyframes scrollAnimation {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

@media (max-width:768px) {
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    } 

    .about-title h1{
        font-size: 50px;
        padding: 0;
    }
    .about-title img{
        width: 130px;
        right: -20px;
    }

    .about-sections{
        flex-direction: column;

    }

    .about-left{
        display:none;
    }

    .about-para{
        font-size: 18px;
        line-height: 32px;
    }

    .about-skill{
        gap: 20px;
        align-items: center;

    }

    .about-skill p{
        font-size: 20px;
    }
    .about-skill hr{
        height: 6px;

    }
    
}
